definitions:
  dto.Error:
    properties:
      error:
        type: string
    type: object
  dto.SignInUserRequest:
    properties:
      email:
        type: string
      password:
        type: string
    required:
    - email
    - password
    type: object
  dto.SignUpUserRequest:
    properties:
      email:
        type: string
      name:
        type: string
      password:
        maxLength: 30
        minLength: 5
        type: string
    required:
    - email
    - name
    - password
    type: object
  dto.Token:
    properties:
      accessToken:
        type: string
    type: object
  dto.User:
    properties:
      email:
        type: string
      id:
        type: integer
      isAdmin:
        type: boolean
      name:
        type: string
    type: object
info:
  contact: {}
paths:
  /emails:
    get:
      description: Returns a list of emails for given user IDs
      parameters:
      - collectionFormat: multi
        description: User IDs
        in: query
        items:
          type: integer
        name: ids
        required: true
        type: array
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              type: string
            type: array
        "400":
          description: Bad request
          schema:
            $ref: '#/definitions/dto.Error'
        "500":
          description: Internal server error
          schema:
            $ref: '#/definitions/dto.Error'
      summary: Get emails by user IDs
      tags:
      - internal
  /me:
    get:
      description: Returns info about the authorized user
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/dto.User'
        "401":
          description: The token is missing, invalid or expired
          schema:
            $ref: '#/definitions/dto.Error'
        "404":
          description: Entity not found
          schema:
            $ref: '#/definitions/dto.Error'
        "500":
          description: Internal server error
          schema:
            $ref: '#/definitions/dto.Error'
      security:
      - BearerAuth: []
      summary: Get current user info
      tags:
      - user
  /sign-in:
    post:
      consumes:
      - application/json
      description: Authorize existings user
      parameters:
      - description: Sign in payload
        in: body
        name: user
        required: true
        schema:
          $ref: '#/definitions/dto.SignInUserRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/dto.Token'
        "400":
          description: Bad request
          schema:
            $ref: '#/definitions/dto.Error'
        "404":
          description: Entity not found
          schema:
            $ref: '#/definitions/dto.Error'
        "500":
          description: Internal server error
          schema:
            $ref: '#/definitions/dto.Error'
      summary: Authorize user
      tags:
      - user
  /sign-up:
    post:
      consumes:
      - application/json
      description: Creates a new user account
      parameters:
      - description: Sign up payload
        in: body
        name: user
        required: true
        schema:
          $ref: '#/definitions/dto.SignUpUserRequest'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/dto.User'
        "400":
          description: Bad request
          schema:
            $ref: '#/definitions/dto.Error'
        "409":
          description: Entity already exists
          schema:
            $ref: '#/definitions/dto.Error'
        "500":
          description: Internal server error
          schema:
            $ref: '#/definitions/dto.Error'
      summary: Register new user
      tags:
      - user
swagger: "2.0"
